.square {
  height: 5vmin;
  width: 5vmin;
  background-color: blue;
  color: white;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.group {
  position: relative;
  display: inline-block;
  margin: 0.5vmin;
}
